@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
* {
	box-sizing: border-box;
	font-family: "Montserrat";
	overflow-x: hidden;
	margin: 0%;
	padding: 0;
}
.fa-arrow-right {
	color: green;
}
.header-box {
	width: 100vw;
	height: 100vh;
	background-image: url("images/shttefan-viNPa2F7fnw-unsplash.jpg");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-attachment: fixed; */
	background-position: center;
}
.header-box h2 {
	text-align: center;
	margin-bottom: 50px;
	color: #eee;
}
.navbar {
	width: 100vw;
	padding: 20px 50px;
	height: 120px;

	/* height: 200px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar img {
	width: 120px;
	height: 100px;
	object-fit: cover;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
	padding: 15px 30px;
}

.list1 {
	align-items: flex-start;
	justify-content: flex-start;
}
.list2 {
	align-items: flex-end;
	justify-content: flex-end;
}
.list2 li {
	font-weight: bold;
}
.fa-bars,
.times {
	display: none;
}

.bars.active {
	display: none;
}
.times {
	display: none;
}
.times.active {
	display: block;
}
.list1.active,
.list2.active {
	display: block;
}
/* .hidden-search {
	display: none;
} */

/* about */
.about {
	width: 100vw;
	/* height: 60vw; */
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 20px;
	padding: 80px;
}
.about-text {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.about-text h3 {
	word-spacing: 2px;
	letter-spacing: 0.5px;
}
.about i {
	align-self: flex-end;
	text-align: center;
	color: green;
}

/* discover */
.discover {
	width: 100vw;
	height: 60vh;
	background-image: url("images/tobias-tullius-L5gYHfwVVGY-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	background-position: center;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	padding: 50px 100px;
}
.discover-info {
	display: flex;
	width: 40%;
	flex-direction: column;
	gap: 10px;
}
.discover-info h3 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600px;
	word-spacing: 7px;
	letter-spacing: 0.8px;
}

/*about-discover*/
.about-discover {
	height: 360px;
}
/*card*/
.cards {
	display: flex;
	justify-content: center;
	padding: 40px 100px;
	gap: 100px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.card img {
	width: 100%;
	height: 200px;
	object-position: center;
	object-fit: cover;
}

.card1 img,
.card2 img {
	object-position: top;
}
.card p {
	font-size: 14px;
}

/*career-selection*/
.career-selection {
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.career-selection hr {
	width: 90%;
}
.career-selection div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	padding-top: 10px;
	padding-inline: 50px;
	font-weight: bolder;
}

/*campus-tour*/
.campus-tour {
	width: 100vw;
	height: 200px;
	background-color: #001a4b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-block: 40px;
	color: #eee;
}
.campus-tour h2 {
	text-transform: uppercase;
}
.campus-tour button {
	background: none;
	padding: 12px 50px;
	border: none;
	border: 2px solid #eee;
	color: #eee;
}

/*footer*/
.footer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 50px;
	/* align-items: center;*/
	justify-content: space-between;
	background-color: #001a4b;
	padding: 50px 100px;
	color: #eee;
}
.footer img {
	width: 100px;
	height: 100px;
	align-self: center;
	object-fit: cover;
}
.contact-info {
	align-self: center;
}
.lists {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.last-info img {
	height: 300px;
}

/*social info*/

.social-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	padding: 20px 100px;
}
.social-media {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 100px;
	gap: 20px;
	font-size: 20px;
}
.social-media hr{
    border: 2px solid grey;
    width: 90%;
}
.social-info p {
	font-size: 14px;
}
@media (max-width: 1000px) {
	.list1,
	.list2 {
		display: none;
	}
	.fa-bars {
		display: block;
	}
	.navbar {
		display: grid;
		grid-template-columns: 5fr 1fr;
	}
	.list-content {
		display: grid;
	}
	.list1 {
		order: 2;
		grid-column: span 2;
		font-size: 14px;
	}

	.list2 {
		background-color: #001a4b;

		order: 1;
	}
	.list2 li {
		font-size: 20px;
	}
	/* .list1{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
}
